@import '../../app/variables.scss';

.linkWrapper {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  span {
    transition: color 0.2s;
    margin-left: 4%;
    margin-right: 4%;
  }

  &:hover {
    span {
      color: $contrast-color;
    }
  }
}

.imageWrapper {
  position: relative;
  width: 20%;
  aspect-ratio: 1 / 1;
  margin: 1% 0 1% 4%;

  @media (max-width: 768px) {
    width: 30%;
  }
}
