.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width: 40%;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1%;

    img{
        width: 80%;
    }
}