@import '../../app/variables.scss';

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5f6f6;
    color: black;
    cursor: pointer;
    transition: color .2s;
    img{
        margin: 2% 0;
    }
    &:hover{
        color: $contrast-color;
    }
}