@import '../../variables.scss';

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 1%;

    footer{
        margin-top: 5%;
    }
}

.title, .subcategories{
    height: 10%;
    width: 90%;
    max-width: 1280px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1%;
}

.subcategories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    row-gap: 5%;
}

.subcategoryCard{
    width: 100%;
}

.filterProd{
    width: 90%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

.filter{
    width: 70%;
    margin-right: 5%;
}

.filterBtn{
    margin-top: 4%;
    display: none;
    width: 90%;
    max-width: 1280px;
    button{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        font-size: 18px;
        padding: 1% 0;
        gap: 5%;
        background-color: $contrast-color;
        border: 1px solid $contrast-color;
        border-radius: 5px;
    }
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

@media (max-width: 1400px){
    .filterBtn{
        display: block;
        button{
            width: 15%;
        }
    }
    .filter{
        display: none;
    }
}

@media (max-width: 960px){
    .products{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 690px){
    .products, .subcategories{
        grid-template-columns: repeat(2, 1fr);
    }
    .filterBtn{
        margin-top: 5%;
        display: block;
        button{
            width: 30%;
        }
    }
    .title{
        img{
            width: 10%;
        }
    }
}